
GO
/****** Object:  StoredProcedure [dbo].[reconciliation_counts]    Script Date: 25/09/2022 01:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE     [dbo].[reconciliation_counts]
AS
BEGIN
DECLARE @SYSDATE DATE
DECLARE @COMPS VARCHAR(100), @SOURCE VARCHAR(2), @MNE VARCHAR(3)
SELECT @SYSDATE = T24_Date FROM [dbo].[stage_system_date]
SELECT @SOURCE = code FROM [dbo].[load_migration_source]
SELECT @MNE = abv FROM [dbo].[load_migration_source]

---------------------------------------------------------------------------------------------
                                  -- MODULE COUNTS | DR --
---------------------------------------------------------------------------------------------
TRUNCATE TABLE [recon].[RECONCILIATION_COUNTS]
/* Counts OFFICER*/
--LOAD_OFFICER FUNDS
;WITH OFFICER_src
AS
(  
	SELECT @SOURCE SOURCE, 'OFFICERS' MODULE, COUNT(*) COUNT FROM [dbo].[load_OFFICER] LA
	--SELECTS SOURCE, MODULE AND COUNT * FROM LOAD
       
),--T24 OFFICER FUNDS EXTRACT
t24_OFFICER
AS 
(


	SELECT COUNT (*) COUNT, 'DR' SOURCE FROM [recon].[DEPT.ACCT.OFFICER.EXTRACT]
	--SELECTS SOURCE,  COUNT * FROM OFFICER FUNDS EXTRACT

),--STAGE_OFFICER
stage_OFFICER
AS 
(
	SELECT COUNT(*) COUNT, [SOURCE] FROM dbo.stage_DEPT_ACCT_OFFICER
	WHERE  [SOURCE] = 'DR'
	AND t24_id IS NOT NULL 
	GROUP BY [SOURCE]
	--SELECTS SOURCE AND COUNT * FROM STAGE
)
INSERT INTO [recon].[RECONCILIATION_COUNTS] 

SELECT  SRC.SOURCE [SOURCE], SRC.MODULE [MODULE], t24.COUNT[T24_COUNT],src.COUNT[SOURCE_COUNT],stg.count[STAGE_COUNT],SRC.COUNT-T24.COUNT [SRC_VARIANCE], STG.COUNT-T24.COUNT [STG_VARIANCE]
 FROM OFFICER_src SRC
 INNER JOIN STAGE_OFFICER STG ON STG.SOURCE = SRC.SOURCE
 INNER JOIN t24_OFFICER t24 ON src.SOURCE = t24.SOURCE


/* Counts Customer*/
--LOAD_CUSTOMER
;WITH cust_src
AS
(  
	SELECT @SOURCE SOURCE, 'CUSTOMER' MODULE, COUNT(*) COUNT FROM [dbo].[load_customer] LC 
	--SELECTS SOURCE, MODULE AND COUNT * FROM LOAD
       
),--T24 CUSTOMER EXTRACT
t24_cust
AS 
(
	SELECT COUNT(*) [COUNT], 'DR' [SOURCE] FROM [recon].[CUSTOMER.EXTRACT]
WHERE COMPANY_BOOK LIKE '%DO%' OR ACCOUNT_OFFICER = '18500' OR ACCOUNT_OFFICER = '19000'


),--STAGE_CUSTOMER
stage_cust
AS 
(
	SELECT COUNT(*) COUNT, [SOURCE] FROM dbo.stage_customer
	WHERE  [SOURCE] = 'DR'
	AND t24_id IS NOT NULL 
	GROUP BY [SOURCE]
	--SELECTS SOURCE, MODULE AND COUNT * FROM STAGE
)
INSERT INTO [recon].[RECONCILIATION_COUNTS] 

SELECT  SRC.SOURCE [SOURCE], SRC.MODULE [MODULE], t24.COUNT[T24_COUNT],src.COUNT[SOURCE_COUNT],stg.count[STAGE_COUNT],SRC.COUNT-T24.COUNT [SRC_VARIANCE], STG.COUNT-T24.COUNT [STG_VARIANCE]
 FROM cust_src SRC
  INNER JOIN STAGE_CUST STG ON STG.SOURCE = SRC.SOURCE
 INNER JOIN t24_cust t24 ON src.SOURCE = t24.SOURCE


 /* Counts ACCOUNTS*/
--LOAD_ACCOUNT
;WITH ACCT_src
AS
(  
	SELECT @SOURCE SOURCE, 'ACCOUNT' MODULE, COUNT(*) COUNT FROM [dbo].[load_ACCOUNT] LA
	--SELECTS SOURCE, MODULE AND COUNT * FROM LOAD
       
),--T24 ACCOUNT EXTRACT
t24_ACCT
AS 
(




	SELECT COUNT (*) COUNT, 'DR' SOURCE FROM [recon].[ACCOUNT.EXTRACT]
	WHERE CO_CODE = 'DO6020004' OR  CO_CODE = 'DO6020005'
	--SELECTS SOURCE,  COUNT * FROM ACCOUNT EXTRACT

),--STAGE_ACCT
stage_ACCT
AS 
(


	SELECT COUNT(*) COUNT, [SOURCE] FROM dbo.stage_ACCOUNT
	WHERE  [SOURCE] = 'DR'
	AND t24_id IS NOT NULL 
	GROUP BY [SOURCE]
	--SELECTS SOURCE AND COUNT * FROM STAGE
)
INSERT INTO [recon].[RECONCILIATION_COUNTS] 

SELECT  SRC.SOURCE [SOURCE], SRC.MODULE [MODULE], t24.COUNT[T24_COUNT],src.COUNT[SOURCE_COUNT],stg.count[STAGE_COUNT],SRC.COUNT-T24.COUNT [SRC_VARIANCE], STG.COUNT-T24.COUNT [STG_VARIANCE]
 FROM ACCT_src SRC
 INNER JOIN STAGE_ACCT STG ON STG.SOURCE = SRC.SOURCE
 INNER JOIN t24_ACCT t24 ON src.SOURCE = t24.SOURCE




  /* Counts HOLD FUNDS*/
--LOAD_HOLD FUNDS
;WITH HOLD_src
AS
(  
	SELECT @SOURCE SOURCE, 'HOLD FUNDS' MODULE, COUNT(*) COUNT
	FROM [dbo].[load_account] LA
	INNER JOIN [dbo].[stage_account] SA ON LEFT(SA.LEGACY_REF, REPLACE(CHARINDEX('-', SA.LEGACY_REF) - 1,-1,LEN(SA.LEGACY_REF))) = LA.LEGACY_REF
	INNER JOIN report_customer_account RCA ON RCA.cuenta_pasiva = LA.LEGACY_REF
	LEFT JOIN [dbo].[map_t24_takeon_account] MT ON MT.CURRENCY = SA.CURRENCY AND MT.COMPANY = SA.CO_CODE
	--SELECTS SOURCE, MODULE AND COUNT * FROM LOAD
       
),--T24 HOLD FUNDS EXTRACT
t24_HOLD
AS 
(


	SELECT COUNT (*) COUNT, 'DR' SOURCE FROM [recon].[AC.LOCKED.EVENTS.EXTRACT]
	--SELECTS SOURCE,  COUNT * FROM HOLD FUNDS EXTRACT

),--STAGE_HOLD
stage_HOLD
AS 
(
	SELECT COUNT(*) COUNT, [SOURCE] FROM dbo.stage_AC_LOCKED_EVENTS
	WHERE  [SOURCE] = 'DR'
	AND t24_id IS NOT NULL 
	GROUP BY [SOURCE]
	--SELECTS SOURCE AND COUNT * FROM STAGE
)
INSERT INTO [recon].[RECONCILIATION_COUNTS] 

SELECT  SRC.SOURCE [SOURCE], SRC.MODULE [MODULE], t24.COUNT[T24_COUNT],src.COUNT[SOURCE_COUNT],stg.count[STAGE_COUNT],SRC.COUNT-T24.COUNT [SRC_VARIANCE], STG.COUNT-T24.COUNT [STG_VARIANCE]
 FROM HOLD_src SRC
 INNER JOIN STAGE_HOLD STG ON STG.SOURCE = SRC.SOURCE
 INNER JOIN t24_HOLD t24 ON src.SOURCE = t24.SOURCE


  /* Counts credit interest*/
--LOAD_accrued interest
;WITH accurred_src
AS
(  
SELECT COUNT(*)[COUNT], 'CREDIT INTEREST' [MODULE], 'DR' [SOURCE] FROM [dbo].[load_credit_interest]
       
),--T24 accrued interest EXTRACT
t24_accurred
AS 
(


	SELECT COUNT (*) [COUNT], 'DR' [SOURCE] FROM [recon].[ACCOUNT.CREDIT.INT.EXTRACT]
	--SELECTS SOURCE,  COUNT * FROM accrued interest EXTRACT

),--STAGE_accurred
stage_accurred
AS 
(
	SELECT COUNT(*) [COUNT], 'DR' [SOURCE] FROM STAGE_ACCOUNT_CREDIT_INT

)
INSERT INTO [recon].[RECONCILIATION_COUNTS] 

SELECT  SRC.SOURCE [SOURCE], SRC.MODULE [MODULE], t24.COUNT[T24_COUNT],src.COUNT[SOURCE_COUNT],stg.count[STAGE_COUNT],SRC.COUNT-T24.COUNT [SRC_VARIANCE], STG.COUNT-T24.COUNT [STG_VARIANCE]
 FROM accurred_src SRC
 INNER JOIN STAGE_accurred STG ON STG.SOURCE = SRC.SOURCE
 INNER JOIN t24_accurred t24 ON src.SOURCE = t24.SOURCE




 /* Counts accrued interest*/
--LOAD_accrued interest
;WITH accurred_src
AS
(  
	SELECT 'DR' SOURCE, 'ACCURED INTEREST' MODULE, COUNT(*) [COUNT] FROM [dbo].[load_accrued_interest] LA
	WHERE INTEREST_ACCRUED <> 0.00
	--SELECTS SOURCE, MODULE AND COUNT * FROM LOAD
       
),--T24 accrued interest EXTRACT
t24_accurred
AS 
(


	SELECT COUNT (*) [COUNT], 'DR' SOURCE FROM [recon].[JMMB.ACCRUED.INTEREST.EXTRACT]
	--SELECTS SOURCE,  COUNT * FROM accrued interest EXTRACT

),--STAGE_accurred
stage_accurred
AS 
(
	SELECT COUNT(*) [COUNT], 'DR'[SOURCE] FROM dbo.stage_accrued_interest
	--WHERE  [SOURCE] = 'DR'
	--AND t24_id IS NOT NULL 
	--GROUP BY [SOURCE]
	--SELECTS SOURCE AND COUNT * FROM STAGE
)
INSERT INTO [recon].[RECONCILIATION_COUNTS] 

SELECT  SRC.SOURCE [SOURCE], SRC.MODULE [MODULE], t24.COUNT[T24_COUNT],src.COUNT[SOURCE_COUNT],stg.count[STAGE_COUNT],SRC.COUNT-T24.COUNT [SRC_VARIANCE], STG.COUNT-T24.COUNT [STG_VARIANCE]
 FROM accurred_src SRC
 INNER JOIN STAGE_accurred STG ON STG.SOURCE = SRC.SOURCE
 INNER JOIN t24_accurred t24 ON src.SOURCE = t24.SOURCE



  /* Counts LOANS*/
--LOAD_LOANS
;WITH LOANS_src
AS
(  
	SELECT @SOURCE SOURCE, 'LOANS' MODULE, COUNT(*) COUNT FROM [dbo].[load_loan] LA
	--SELECTS SOURCE, MODULE AND COUNT * FROM LOAD
       
),--T24LOANS EXTRACT
t24_LOANS
AS 
(


	SELECT COUNT (*) COUNT, 'DR' SOURCE FROM [recon].[LD.LOANS.AND.DEPOSITS.EXTRACT]
	--SELECTS SOURCE,  COUNT * FROMLOANS EXTRACT

),--STAGE_LOANS
stage_LOANS
AS 
(
	SELECT COUNT(*) COUNT, [SOURCE] FROM [dbo].[STAGE_LD_LOANS_AND_DEPOSITS]
	WHERE  [SOURCE] = 'DR'
	AND t24_id IS NOT NULL 
	GROUP BY [SOURCE]
	--SELECTS SOURCE AND COUNT * FROM STAGE
)
INSERT INTO [recon].[RECONCILIATION_COUNTS] 

SELECT  SRC.SOURCE [SOURCE], SRC.MODULE [MODULE], t24.COUNT[T24_COUNT],src.COUNT[SOURCE_COUNT],stg.count[STAGE_COUNT],SRC.COUNT-T24.COUNT [SRC_VARIANCE], STG.COUNT-T24.COUNT [STG_VARIANCE]
 FROM LOANS_src SRC
 INNER JOIN STAGE_LOANS STG ON STG.SOURCE = SRC.SOURCE
 INNER JOIN t24_LOANS t24 ON src.SOURCE = t24.SOURCE


  /* Counts PD*/
--LOAD_PDT
;WITH PD_src
AS
(  
	SELECT 'DR' SOURCE, 'PD' MODULE, COUNT(*) COUNT FROM [dbo].[load_PAST_DUE_LOAN] LA
	--SELECTS SOURCE, MODULE AND COUNT * FROM LOAD
       
),--T24PD EXTRACT
t24_PD
AS 
(


	SELECT COUNT (*) COUNT, 'DR' SOURCE FROM [recon].[PD.CAPTURE.EXTRACT]
	--SELECTS SOURCE,  COUNT * FROMPD EXTRACT

),--STAGE_PD
stage_PD
AS 
(
	SELECT COUNT(*) COUNT, [SOURCE] FROM [dbo].[STAGE_PD_CAPTURE]
	WHERE  [SOURCE] = 'DR'
	AND t24_id IS NOT NULL 
	GROUP BY [SOURCE]
	--SELECTS SOURCE AND COUNT * FROM STAGE
)
INSERT INTO [recon].[RECONCILIATION_COUNTS] 

SELECT  SRC.SOURCE [SOURCE], SRC.MODULE [MODULE], t24.COUNT[T24_COUNT],src.COUNT[SOURCE_COUNT],stg.count[STAGE_COUNT],SRC.COUNT-T24.COUNT [SRC_VARIANCE], STG.COUNT-T24.COUNT [STG_VARIANCE]
 FROM PD_src SRC
 INNER JOIN STAGE_PD STG ON STG.SOURCE = SRC.SOURCE
 INNER JOIN t24_PD t24 ON src.SOURCE = t24.SOURCE

  /* Counts COLLATERAL*/
--LOAD_COLLATERALT
;WITH COLLATERAL_src
AS
(  
	SELECT @SOURCE SOURCE, 'COLLATERAL' MODULE, COUNT(*) COUNT FROM [dbo].[load_collateral] LA
	--SELECTS SOURCE, MODULE AND COUNT * FROM LOAD
       
),--T24COLLATERAL EXTRACT
t24_COLLATERAL
AS 
(


	SELECT COUNT (*) COUNT, 'DR' SOURCE FROM [recon].[COLLATERAL.RIGHT.EXTRACT]
	--SELECTS SOURCE,  COUNT * FROMCOLLATERAL EXTRACT

),--STAGE_COLLATERAL
stage_COLLATERAL
AS 
(
	SELECT COUNT(*) COUNT, Source [SOURCE] FROM [dbo].[STAGE_COLLATERAL_RIGHT]
	WHERE  [SOURCE] = 'DR'
	--AND t24_id IS NOT NULL 
	GROUP BY [SOURCE]
	--SELECTS SOURCE AND COUNT * FROM STAGE
)
INSERT INTO [recon].[RECONCILIATION_COUNTS] 

SELECT  SRC.SOURCE [SOURCE], SRC.MODULE [MODULE], t24.COUNT[T24_COUNT],src.COUNT[SOURCE_COUNT],stg.count[STAGE_COUNT],SRC.COUNT-T24.COUNT [SRC_VARIANCE], STG.COUNT-T24.COUNT [STG_VARIANCE]
 FROM COLLATERAL_src SRC
 INNER JOIN STAGE_COLLATERAL STG ON STG.SOURCE = SRC.SOURCE
 INNER JOIN t24_COLLATERAL t24 ON src.SOURCE = t24.SOURCE


  /* Counts COLLATERAL DETAIL*/
--LOAD_COLLATERAL DETAILT
;WITH COLLATERAL_DETAIL_src
AS
(  
	SELECT @SOURCE SOURCE, 'COLLATERAL DETAIL' MODULE, COUNT(*) COUNT FROM [dbo].[load_COLLATERAL_DETAIL] LA
	--SELECTS SOURCE, MODULE AND COUNT * FROM LOAD
       
),--T24COLLATERAL DETAIL EXTRACT
t24_COLLATERAL_DETAIL
AS 
(

	SELECT count(*) count, 'DR' Source FROM [RECON].[COLLATERAL.EXTRACT] WHERE collateral_comp = 'DO6020001' 
	--SELECTS SOURCE,  COUNT * FROMCOLLATERAL DETAIL EXTRACT

),--STAGE_COLLATERAL DETAIL
stage_COLLATERAL_DETAIL
AS 
(
	SELECT COUNT(*) COUNT, 'DR' [SOURCE] FROM [dbo].[STAGE_COLLATERAL]
	--WHERE  [SOURCE] = 'DR'
	--AND t24_id IS NOT NULL 
	--GROUP BY [LEGACY_REF]
	--SELECTS SOURCE AND COUNT * FROM STAGE
)
INSERT INTO [recon].[RECONCILIATION_COUNTS] 

SELECT  SRC.SOURCE [SOURCE], SRC.MODULE [MODULE], t24.COUNT[T24_COUNT],src.COUNT[SOURCE_COUNT],stg.count[STAGE_COUNT],SRC.COUNT-T24.COUNT [SRC_VARIANCE], STG.COUNT-T24.COUNT [STG_VARIANCE]
 FROM COLLATERAL_DETAIL_src SRC
 INNER JOIN STAGE_COLLATERAL_DETAIL STG ON STG.SOURCE = SRC.SOURCE
 INNER JOIN t24_COLLATERAL_DETAIL t24 ON src.SOURCE = t24.SOURCE


  /* Counts CHEQUE.ISSUE*/
--LOAD_CHEQUE.ISSUET
;WITH cheque_book_series_src
AS
(  
	SELECT @SOURCE SOURCE, 'CHEQUE BOOK SERIES' MODULE, COUNT(*) COUNT FROM [dbo].[load_cheque_book_series] LA
	--SELECTS SOURCE, MODULE AND COUNT * FROM LOAD
       
),--T24CHEQUE.ISSUE EXTRACT
t24_cheque_book_series
AS 
(


	SELECT COUNT (*) COUNT, 'DR' SOURCE FROM [recon].[CHEQUE.ISSUE.EXTRACT]
	--SELECTS SOURCE,  COUNT * FROMCHEQUE.ISSUE EXTRACT

),--STAGE_CHEQUE.ISSUE
stage_cheque_book_series
AS 
(
	SELECT COUNT(*) COUNT, 'DR' [SOURCE] FROM [dbo].[STAGE_CHEQUE_ISSUE]
	--WHERE  [SOURCE] = 'DR'
	--AND t24_id IS NOT NULL 
	--GROUP BY [LEGACY_REF]
	--SELECTS SOURCE AND COUNT * FROM STAGE
)
INSERT INTO [recon].[RECONCILIATION_COUNTS] 

SELECT  SRC.SOURCE [SOURCE], SRC.MODULE [MODULE], t24.COUNT[T24_COUNT],src.COUNT[SOURCE_COUNT],stg.count[STAGE_COUNT],SRC.COUNT-T24.COUNT [SRC_VARIANCE], STG.COUNT-T24.COUNT [STG_VARIANCE]
 FROM cheque_book_series_src SRC
 INNER JOIN STAGE_cheque_book_series STG ON STG.SOURCE = SRC.SOURCE
 INNER JOIN t24_cheque_book_series t24 ON src.SOURCE = t24.SOURCE



   /* Counts MM*/
--LOAD_MM FUNDS
;WITH MM_src
AS
(  
	SELECT @SOURCE SOURCE, 'MM MONEY MARKET' MODULE, COUNT(*) COUNT FROM [dbo].[load_CD] LA
	--SELECTS SOURCE, MODULE AND COUNT * FROM LOAD
       
),--T24 MM FUNDS EXTRACT
t24_MM
AS 
(


	SELECT COUNT (*) COUNT, 'DR' SOURCE FROM [recon].[MM.MONEY.MARKET.EXTRACT]
	--SELECTS SOURCE,  COUNT * FROM MM FUNDS EXTRACT

),--STAGE_MM
stage_MM
AS 
(
	SELECT COUNT(*) COUNT, [SOURCE] FROM dbo.stage_MM_MONEY_MARKET
	WHERE  [SOURCE] = 'DR'
	AND t24_id IS NOT NULL 
	GROUP BY [SOURCE]
	--SELECTS SOURCE AND COUNT * FROM STAGE
)
INSERT INTO [recon].[RECONCILIATION_COUNTS] 

SELECT  SRC.SOURCE [SOURCE], SRC.MODULE [MODULE], t24.COUNT[T24_COUNT],src.COUNT[SOURCE_COUNT],stg.count[STAGE_COUNT],SRC.COUNT-T24.COUNT [SRC_VARIANCE], STG.COUNT-T24.COUNT [STG_VARIANCE]
 FROM MM_src SRC
 INNER JOIN STAGE_MM STG ON STG.SOURCE = SRC.SOURCE
 INNER JOIN t24_MM t24 ON src.SOURCE = t24.SOURCE



 /* Counts HCD*/
--LOAD_HCD 
;WITH HCD_src
AS
(  
	SELECT @SOURCE SOURCE, 'HYPOTHECATED CD' MODULE, COUNT(*) COUNT FROM LOAD_BLOCKED_CD
	--SELECTS SOURCE, MODULE AND COUNT * FROM LOAD
       
),--T24 HCD FUNDS EXTRACT
t24_HCD
AS 
(


	SELECT COUNT (*) COUNT, 'DR' SOURCE FROM [recon].[CCMB.LMM.CUST.BLOCK.EXTRACT]
	--SELECTS SOURCE,  COUNT * FROM HCD FUNDS EXTRACT

),--STAGE_HCD
stage_HCD
AS 
(
	SELECT COUNT(*) COUNT, 'DR' [SOURCE] FROM dbo.stage_ccmb_lmm_cust_block
	WHERE t24_id IS NOT NULL 
	GROUP BY [SOURCE]
	--SELECTS SOURCE AND COUNT * FROM STAGE
)
INSERT INTO [recon].[RECONCILIATION_COUNTS] 

SELECT  SRC.SOURCE [SOURCE], SRC.MODULE [MODULE], t24.COUNT[T24_COUNT],src.COUNT[SOURCE_COUNT],stg.count[STAGE_COUNT],SRC.COUNT-T24.COUNT [SRC_VARIANCE], STG.COUNT-T24.COUNT [STG_VARIANCE]
 FROM HCD_src SRC
 INNER JOIN STAGE_HCD STG ON STG.SOURCE = SRC.SOURCE
 INNER JOIN t24_HCD t24 ON src.SOURCE = t24.SOURCE


   /* Counts FUNDS_TRANSFER*/
--LOAD_FUNDS_TRANSFER FUNDS
;WITH FUNDS_TRANSFER_src
AS
(  
	SELECT @SOURCE SOURCE, 'FUNDS TRANSFER' MODULE, COUNT(*) COUNT FROM [dbo].[load_account] LA
	INNER JOIN [dbo].[stage_account] SA ON LEFT(SA.LEGACY_REF, REPLACE(CHARINDEX('-', SA.LEGACY_REF) - 1,-1,LEN(SA.LEGACY_REF))) = LA.LEGACY_REF
	INNER JOIN report_customer_account RCA ON RCA.cuenta_pasiva = LA.LEGACY_REF
	LEFT JOIN [dbo].[map_t24_takeon_account] MT ON MT.CURRENCY = SA.CURRENCY AND MT.COMPANY = SA.CO_CODE
	--WHERE LA.BALANCE <> 0
	--SELECTS SOURCE, MODULE AND COUNT * FROM LOAD
       
),--T24 FUNDS_TRANSFER FUNDS EXTRACT
t24_FUNDS_TRANSFER
AS 
(


	SELECT COUNT (*) COUNT, 'DR' SOURCE FROM [recon].[FUNDS.TRANSFER.EXTRACT]
	--SELECTS SOURCE,  COUNT * FROM FUNDS_TRANSFER FUNDS EXTRACT

),--STAGE_FUNDS_TRANSFER
stage_FUNDS_TRANSFER
AS 
(
	SELECT COUNT(*) COUNT, [SOURCE] FROM dbo.stage_FUNDS_TRANSFER
	WHERE  [SOURCE] = 'DR'
	AND t24_id IS NOT NULL 
	GROUP BY [SOURCE]
	--SELECTS SOURCE AND COUNT * FROM STAGE
)
INSERT INTO [recon].[RECONCILIATION_COUNTS] 

SELECT  SRC.SOURCE [SOURCE], SRC.MODULE [MODULE], t24.COUNT[T24_COUNT],src.COUNT[SOURCE_COUNT],stg.count[STAGE_COUNT],SRC.COUNT-T24.COUNT [SRC_VARIANCE], STG.COUNT-T24.COUNT [STG_VARIANCE]
 FROM FUNDS_TRANSFER_src SRC
 INNER JOIN STAGE_FUNDS_TRANSFER STG ON STG.SOURCE = SRC.SOURCE
 INNER JOIN t24_FUNDS_TRANSFER t24 ON src.SOURCE = t24.SOURCE

   /* Counts MCHEQUES*/
--LOAD_MCHEQUES 
;WITH MCHEQUES_src
AS
(  
	SELECT @SOURCE SOURCE, 'MANAGERS CHEQUES' MODULE, COUNT(*) COUNT FROM load_managers_cheque
	--SELECTS SOURCE, MODULE AND COUNT * FROM LOAD
       
),--T24 MCHEQUES FUNDS EXTRACT
t24_MCHEQUES
AS 
(


	SELECT COUNT (*) COUNT, 'DR' SOURCE FROM STAGE_CHEQUE_REGISTER_SUPPLEMENT
	--SELECTS SOURCE,  COUNT * FROM MCHEQUES FUNDS EXTRACT

),--STAGE_MCHEQUES
stage_MCHEQUES
AS 
(
	SELECT COUNT(*) COUNT, [SOURCE] FROM dbo.STAGE_CHEQUE_REGISTER_SUPPLEMENT
	WHERE  [SOURCE] = 'DR'
	AND t24_id IS NOT NULL 
	GROUP BY [SOURCE]
	--SELECTS SOURCE AND COUNT * FROM STAGE
)
INSERT INTO [recon].[RECONCILIATION_COUNTS] 

SELECT  SRC.SOURCE [SOURCE], SRC.MODULE [MODULE], t24.COUNT[T24_COUNT],src.COUNT[SOURCE_COUNT],stg.count[STAGE_COUNT],SRC.COUNT-T24.COUNT [SRC_VARIANCE], STG.COUNT-T24.COUNT [STG_VARIANCE]
 FROM MCHEQUES_src SRC
 INNER JOIN STAGE_MCHEQUES STG ON STG.SOURCE = SRC.SOURCE
 INNER JOIN t24_MCHEQUES t24 ON src.SOURCE = t24.SOURCE

   /* Counts BLOCKED*/
--LOAD_BLOCKED 
;WITH BLOCKED_src
AS
(  
	SELECT @SOURCE SOURCE, 'BLOCKED CHEQUES' MODULE, COUNT(*) COUNT FROM load_stopped_cheque
	--SELECTS SOURCE, MODULE AND COUNT * FROM LOAD
       
),--T24 BLOCKED FUNDS EXTRACT
t24_BLOCKED
AS 
(


	SELECT COUNT (*) COUNT, 'DR' SOURCE FROM dbo.stage_PAYMENT_STOP
	--SELECTS SOURCE,  COUNT * FROM BLOCKED FUNDS EXTRACT

),--STAGE_BLOCKED
stage_BLOCKED
AS 
(
	SELECT COUNT(*) COUNT, [SOURCE] FROM dbo.stage_PAYMENT_STOP
	WHERE  [SOURCE] = 'DR'
	AND t24_id IS NOT NULL 
	GROUP BY [SOURCE]
	--SELECTS SOURCE AND COUNT * FROM STAGE
)
INSERT INTO [recon].[RECONCILIATION_COUNTS] 

SELECT  SRC.SOURCE [SOURCE], SRC.MODULE [MODULE], t24.COUNT[T24_COUNT],src.COUNT[SOURCE_COUNT],stg.count[STAGE_COUNT],SRC.COUNT-T24.COUNT [SRC_VARIANCE], STG.COUNT-T24.COUNT [STG_VARIANCE]
 FROM BLOCKED_src SRC
 INNER JOIN STAGE_BLOCKED STG ON STG.SOURCE = SRC.SOURCE
 INNER JOIN t24_BLOCKED t24 ON src.SOURCE = t24.SOURCE


  /* Counts CLAIMS*/
--LOAD_CLAIMS 
;WITH CLAIMS_src
AS
(  
	SELECT @SOURCE SOURCE, 'CUSTOMER COMPLAINTS' MODULE, COUNT(*) COUNT FROM load_customer_complaint
	--SELECTS SOURCE, MODULE AND COUNT * FROM LOAD
       
),--T24 CLAIMS FUNDS EXTRACT
t24_CLAIMS
AS 
(


	SELECT COUNT (*) COUNT, 'DR' SOURCE FROM [RECON].[JMMB.CLAIMS.EXTRACT]
	--SELECTS SOURCE,  COUNT * FROM CLAIMS FUNDS EXTRACT

),--STAGE_CLAIMS
stage_CLAIMS
AS 
(
	SELECT COUNT(*) COUNT, [SOURCE] FROM dbo.STAGE_CLAIMS
	WHERE  [SOURCE] = 'DR'
	AND t24_id IS NOT NULL 
	GROUP BY [SOURCE]
	--SELECTS SOURCE AND COUNT * FROM STAGE
)
INSERT INTO [recon].[RECONCILIATION_COUNTS] 

SELECT  SRC.SOURCE [SOURCE], SRC.MODULE [MODULE], t24.COUNT[T24_COUNT],src.COUNT[SOURCE_COUNT],stg.count[STAGE_COUNT],SRC.COUNT-T24.COUNT [SRC_VARIANCE], STG.COUNT-T24.COUNT [STG_VARIANCE]
 FROM CLAIMS_src SRC
 INNER JOIN STAGE_CLAIMS STG ON STG.SOURCE = SRC.SOURCE
 INNER JOIN t24_CLAIMS t24 ON src.SOURCE = t24.SOURCE





   /* Counts IMAGE*/
--LOAD_IMAGE 
;WITH IMAGE_src
AS
(  
	SELECT @SOURCE SOURCE, 'SIGNATURE CARD IMAGE' MODULE, COUNT(*) COUNT FROM LOAD_IMAGES
	--SELECTS SOURCE, MODULE AND COUNT * FROM LOAD
       
),--T24 IMAGE FUNDS EXTRACT
t24_IMAGE
AS 
(


	SELECT COUNT (*) COUNT, 'DR' SOURCE FROM [recon].[IM.DOCUMENT.IMAGE.EXTRACT]
	--SELECTS SOURCE,  COUNT * FROM IMAGE FUNDS EXTRACT

),--STAGE_IMAGE
stage_IMAGE
AS 
(
	SELECT COUNT(*) COUNT, [SOURCE] FROM dbo.stage_IM_DOCUMENT_IMAGE
	WHERE  [SOURCE] = 'DR'
	AND t24_id IS NOT NULL 
	GROUP BY [SOURCE]
	--SELECTS SOURCE AND COUNT * FROM STAGE
)
INSERT INTO [recon].[RECONCILIATION_COUNTS] 

SELECT  SRC.SOURCE [SOURCE], SRC.MODULE [MODULE], t24.COUNT[T24_COUNT],src.COUNT[SOURCE_COUNT],stg.count[STAGE_COUNT],SRC.COUNT-T24.COUNT [SRC_VARIANCE], STG.COUNT-T24.COUNT [STG_VARIANCE]
 FROM IMAGE_src SRC
 INNER JOIN STAGE_IMAGE STG ON STG.SOURCE = SRC.SOURCE
 INNER JOIN t24_IMAGE t24 ON src.SOURCE = t24.SOURCE








 -- /* Counts stage_payment_stop*/
----LOAD_stage_payment_stopT
--;WITH stage_payment_stop_src
--AS
--(  
--	SELECT @SOURCE SOURCE, 'Payment_Stop' MODULE, COUNT(*) COUNT FROM [dbo].[load_stopped_cheque] LA
--	--SELECTS SOURCE, MODULE AND COUNT * FROM LOAD
       
--),--T24stage_payment_stop EXTRACT
--t24_stage_payment_stop
--AS 
--(


--	SELECT COUNT (*) COUNT, 'DR' SOURCE FROM [recon].[CARD.ISSUE.EXTRACT]
--	--SELECTS SOURCE,  COUNT * FROMstage_payment_stop EXTRACT

--),--STAGE_stage_payment_stop
--stage_stage_payment_stop
--AS 
--(
--	SELECT COUNT(*) COUNT, 'DR' [SOURCE] FROM [dbo].[stage_payment_stop]
--	--WHERE  [SOURCE] = 'DR'
--	--AND t24_id IS NOT NULL 
--	--GROUP BY [LEGACY_REF]
--	--SELECTS SOURCE AND COUNT * FROM STAGE
--)
--INSERT INTO [recon].[RECONCILIATION_COUNTS] 

--SELECT  SRC.SOURCE [SOURCE], SRC.MODULE [MODULE], t24.COUNT[T24_COUNT],src.COUNT[SOURCE_COUNT],stg.count[STAGE_COUNT],SRC.COUNT-T24.COUNT [SRC_VARIANCE], STG.COUNT-T24.COUNT [STG_VARIANCE]
-- FROM stage_payment_stop_src SRC
-- INNER JOIN STAGE_stage_payment_stop STG ON STG.SOURCE = SRC.SOURCE
-- INNER JOIN t24_stage_payment_stop t24 ON src.SOURCE = t24.SOUR



-- /* Counts IM_DOCUMENT_UPLOAD*/
----LOAD_IM.DOCUMENT.UPLOAD.MIG.EXTRACT
--;WITH IM_DOCUMENT_UPLOAD_src
--AS
--(  
--	SELECT @SOURCE SOURCE, 'SIGNATURE_CARD_IMAGES' MODULE, COUNT(*) COUNT FROM [dbo].[load_SIGNATURE_CARD_IMAGE] LA
--	--SELECTS SOURCE, MODULE AND COUNT * FROM LOAD
       
--),--T24IM_DOCUMENT_UPLOAD EXTRACT
--t24_IM_DOCUMENT_UPLOAD
--AS 
--(


--	SELECT COUNT (*) COUNT, 'DR' SOURCE FROM [recon].[IM.DOCUMENT.UPLOAD.EXTRACT]
--	--SELECTS SOURCE,  COUNT * FROMIM_DOCUMENT_UPLOAD EXTRACT

--),--STAGE_IM_DOCUMENT_UPLOAD
--stage_IM_DOCUMENT_UPLOAD
--AS 
--(
--	SELECT COUNT(*) COUNT, 'DR' [SOURCE] FROM [dbo].[STAGE_IM_DOCUMENT_UPLOAD]
--	--WHERE  [SOURCE] = 'DR'
--	--AND t24_id IS NOT NULL 
--	--GROUP BY [LEGACY_REF]
--	--SELECTS SOURCE AND COUNT * FROM STAGE
--)
--INSERT INTO [recon].[RECONCILIATION_COUNTS] 

--SELECT  SRC.SOURCE [SOURCE], SRC.MODULE [MODULE], t24.COUNT[T24_COUNT],src.COUNT[SOURCE_COUNT],stg.count[STAGE_COUNT],SRC.COUNT-T24.COUNT [SRC_VARIANCE], STG.COUNT-T24.COUNT [STG_VARIANCE]
-- FROM IM_DOCUMENT_UPLOAD_src SRC
-- INNER JOIN STAGE_IM_DOCUMENT_UPLOAD STG ON STG.SOURCE = SRC.SOURCE
-- INNER JOIN t24_IM_DOCUMENT_UPLOAD t24 ON src.SOURCE = t24.SOURCE


--**--

------*----------
SELECT SOURCE, MODULE,SOURCE_COUNT,STAGE_COUNT,T24_COUNT, SOURCE_T24_VARIANCE, STAGE_T24_VARIANCE FROM [recon].[RECONCILIATION_COUNTS] 
------*---------

END
